//META{"name":"anime #2","description":"A pretty fucking cool looking background for my laptop ","author":"Anime","version":"1.1","website":"http://diepsychatrie.de","source":"https://initiate.alphacoders.com/images/999/cropped-2560-1440-999451.jpg?4489"}*//{}

#app-mount {background:url('https://cdn.discordapp.com/attachments/531302990523662336/894222118575833128/130457.jpg') center/cover no-repeat}	/* Background Picture */

   
.theme-dark {
    --background-primary: #ffffff00;
    --background-secondary: #ffffff00;
    --background-tertiary: #ffffff00;
	--background-modifier-accent: #ffffff00;
	--text-normal: #fff;
	--text-muted: #fff;
	--channels-default: #fff;
	--channeltextarea-background: #40444b6b;
	--deprecated-panel-background: #ffffff00;
	--activity-card-background: #ffffff00;
}
.wordmark-2iDDfm{display:none} 
#app-mount ::-webkit-scrollbar, #app-mount ::-webkit-scrollbar-track-piece {visibility:hidden;width:8px}
#app-mount ::-webkit-scrollbar-thumb {border:none!important; background: #00ffe23d}
.theme-dark .container-1D34oG {background-color: #ffffff00;}
.theme-dark .panels-j1Uci_ {background-color: #ffffff00;}
.membersWrap-2h-GB4 ::-webkit-scrollbar {width:6px}
.lookInverted-2D7oAl.colorBrand-3pXr91 {color: #fff; background-color: #43b581}
.theme-dark .container-3gCOGc {background-color: #ffffff00;}
.applicationStore-1pNvnv {background-color: #ffffff00;}
.topSectionStreaming-1Tpf5X, .topSectionSpotify-1lI0-P, .topSectionPlaying-1J5E4n {background: #ffffff00;}
